
#title-container{
    margin-top: 10%;
    text-align: center;
    animation: 1s slidefade 1s forwards;
    position: 50% 50%;
}
#title-container h1{
    color: #ffffff;
    font: 700 60px Futura, Trebuchet MS, Arial, sans-serif;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}
#title-container h2{
    font: normal 28px Futura, Trebuchet MS, Arial, sans-serif;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
#title-container h3{
    font: normal 20px Futura, Trebuchet MS, Arial, sans-serif;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
#title-container h4{
    font: normal 20px Futura, Trebuchet MS, Arial, sans-serif;
    font-weight: 510;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

#title-container a{
    font: normal 20px Lato;
    color: #f57b00;
    text-shadow: 1px 1px 1px #000000;
}
#title-container a:hover{
    font: normal 20px Lato;
    color: #d1a87f;
    text-shadow: 1px 1px 1px #000000;
}
.separator{
    color: white;
    border-bottom:2px solid;
    width: 100%;
    margin-bottom: 2%;
    height: 5px;
    box-shadow: 2px 2px 4px #000000;
}