
#title-container{
    margin-top: 5%;
    text-align: center;
    animation: 1s slidefade 1s forwards;
    position: 50% 50%;
}
#title-container h1{
    color: #ffffff;
    font: 700 60px Futura, Trebuchet MS, Arial, sans-serif;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}
#title-container h2{
    font: normal 28px Futura, Trebuchet MS, Arial, sans-serif;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
#title-container h3{
    font: normal 20px Futura, Trebuchet MS, Arial, sans-serif;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
#title-container h4{
    font: normal 20px Futura, Trebuchet MS, Arial, sans-serif;
    font-weight: 510;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

#title-container a{
    padding: 5px;
    font: normal 20px Lato;
    color: #faab02;
    text-shadow: 1px 0px 1px #000000;
}
#title-container a:hover{
    font: normal 20px Lato;
    color: #5591df;
    text-shadow: 1px 1px 1px #000000;
}
.separator{
    color: white;
    border-bottom:2px solid;
    width: 100%;
    margin-bottom: 2%;
    height: 5px;
    box-shadow: 2px 2px 4px #000000;
}

#filters {
    width: 500px;
    margin: 30px auto;
}
#gallery {
    width: 270px;
    height: 180px;
    margin: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s ease;
}
#filters span {
    margin: 15px;
}
  
.thumbnailfade-leave-active,
.thumbnailfade-enter-active {
    transition: all 0.4s ease;
}
  
.thumbnailfade-enter-active {
    transition-delay: 0.4s;
}
  
.thumbnailfade-enter,
.thumbnailfade-leave-to {
    opacity: 0;
}