
.students-details{
  margin-top: 1.5%;
  font-weight: 540;
}
.table-head{
  color:#ea771d;
}
.separation{
  margin-bottom: 7%;
}
.first-cards{
  margin-top: 5%;
}
.student-card{
  margin-left: 1%;
}
.second-cards{
  margin-top: 1%;
}
.left-card{
  margin-right: 1%;
}
    