
.students-details{
  margin-top: 1.5%;
  font-weight: 540;
  color: #2a3e4d;
  text-align: justify;
}
.table-head{
  color:#ea771d;
}
#title-box{
  margin-bottom: 7%;
}
.first-cards{
  margin-top: 5%;
}
.student-card{
  margin-left: 1%;
}
.second-cards{
  margin-top: 1%;
}
.left-card{
  margin-right: 1%;
}
.payment-box{
  margin-top: 3%;
}
#way-to-pay p{
  font-weight: 540;
  font-size:20px;
}
.ins{
  font-weight: bold;
  display: inline;
}
.ins-button{
  text-align: center;
  margin-top: 4%;
}
    