.spinner{
  margin-left: 50%;
  margin-top: 10%;
  margin-bottom: 30%;
}
.imageProgram{
  margin-top: 5%;
}
.dateCont{
  margin-right: 5%;
}
.hourDetailRow{
  margin-top: 1%;
}
.dayContainer{
  margin-top: 5%;
}
.description{
  margin-top: 0.7%;
}
.name h3{
  font-size: 3.0em;
  font-weight: lighter;
  color: #4a4a4a;
  padding-bottom: 1%;
}
.divider {
  width: 2px;
  margin: 6px 0;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 5%;
  background: #EA771D;
}
.event-time{
  font-weight: normal;
  font-size: 1.5em;
  color:#EA771D;
}