
nav {
    list-style: none;
    margin-top: 1%;
    background-color: transparent;
}

.elses{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/evic-2018.appspot.com/o/imagenFondo%2FFOTOUSACH.jpg?alt=media&token=6b47a2c5-f6b6-4b01-8edd-b2c27c7c132d");
    background-size: contain;
}

.navContent{
    align-items: center;
    background-color: transparent;
}

.navContent a{
    float:left;
    white-space: nowrap;
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;

}
.header-align{
    padding-left: 15%;
    padding-right: 15%;
    background-color: transparent;
}
.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /*text-align: center;*/
    min-height: 100vh;
    color: white;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}
a {
    text-decoration: none;
    color: #183ca3;
}

a:hover {
    color: #EA771D;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}
ul {
    list-style: none;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}
/* Header Styles */

header {
    background:white;
    display:flex;
    justify-content:space-between;
    margin: 20px 0 20px 0;
    }
.logo {
    width: 20%;
    background-color: transparent;
}
.hamburger {
    padding:0 0.5em;
    font-size:1.5em;
    line-height:50px;
    display:inline-block;
    z-index:2;}

nav {
    position:absolute;
    width:100%;
    background:white;
    display:none;
    }
nav:hover {
    display:block;
    }
nav a {
    display:block;
    line-height:50px;
    text-align:center;
    }

.hamburger:hover ~ nav {
    display:block;
    }

@media only screen and ( min-width: 768px )
{
  .hamburger {
      display:none;
      }
  nav {
      position:static;
      display:flex;
      background:none;
      clear:none;
      flex:1;
      justify-content:flex-end;
      }
  nav:hover {
      display:flex;
      }
  nav a {
      padding:0 1em;
      }
}

/* Footer Section*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#EA771D;
    color: #fff;
    padding: 20px 0;
    margin-top: 3%;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

@media screen and (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 20px;
    }

    footer ul li {
        margin: 0 8px;
    }
}
.fade-down-enter-active {
    animation-name: fadeInDown;
    animation-duration: 0.1s;
}

.fade-down-leave-active {
    animation-name: fadeOutDown;
    animation-duration: 0.1s;
}

@keyframes fadeInDown {
  from { opacity: 0.05; transform: translate3d(0, -25px, 0); }
  to { opacity: 1; transform: none; }
}

@keyframes fadeOutDown {
  from {  opacity: 1; transform: none; }
  to { opacity: 0.05; transform: translate3d(0, -25px, 0); }
}
