
.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}
.packages .grid li {
    text-align: center;
}

.packages .grid li i {
    color: #ffffff;
}

.packages .grid li h4 {
    font-size: 30px;
    color: #ffffff
}
.packages .grid li p {
    color:#EA771D
}
.packages .grid li h2 {
    color:#ffffff
}