.page{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/evic2018usach-v2.appspot.com/o/Inicio%2FfondoSinFilto.jpg?alt=media&token=34a32ae6-b106-40fd-8785-d73ee76a7add");
    background-attachment: fixed;
    background-size: cover;
}