.page{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/evic-2018-usach.appspot.com/o/fondoSinFilto.jpg?alt=media&token=c39e91f0-3415-4cd6-a42f-fade0e953b2d");
    background-attachment: fixed;
    background-size: cover;
}