.content-align{
    padding-top: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    min-height: 100vh;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.about{
    background-color: #eceff1;
}

#index section{
    /*background-color: hsla(217, 56%, 68%, 0.239);*/
    background-color: hsla(203, 30%, 26%, 0.3);
    
}
#program{
    
    background-color: rgb(65, 72, 131);
    background-color: #2F4858;
    
}
#experts{
    background-color: #eceff1;
}
#competition{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/evic-2018-usach.appspot.com/o/investigadores.jpg?alt=media&token=7c672113-abdd-4218-acb2-a09ce5f92363');
    background-size: cover;
}
#competition section{
    background-color: #2F4858;
    
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
}

#ubication{
    /*background-image: url('https://static1.squarespace.com/static/574472fbd51cd42eed21b47e/t/58f8d5a237c58152adaf3830/1492702628971/EAO-Fudea-Usach-Banner-%281%29.jpg?format=2500w');    */
    background-color: #eceff1;
    background-size: cover;
}
#ubication section{
    background-color: rgba(0, 0, 0, 0.8);
    background-color: #2F4858;
}

#exhibitors section{
    background-color: rgba(0, 0, 0, 0.8);
}
#inscription{
    background-color: #eceff1;
}
#sponsors{
    background-color: #eceff1;
}
#organization{
    background-color: #252525;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('https://firebasestorage.googleapis.com/v0/b/evic-2018-usach.appspot.com/o/videobackground%2Fsnapshot.jpg?alt=media&token=dc77a15a-5f4b-40ba-b4be-8116edda6b59') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display: none;
    }
  }

