.content-align{
    padding-top: 0px;
}
.titleImg{
    z-index: 0;
    background-color: rgba($color: #FFFFFF, $alpha: 0)

}

.about{
    background-color: #ffffff;
}

#index section{
    background-color: #80a3db3d;
}
#program{
    background-color: rgb(65, 72, 131);
}
#experts{
    background-color: #ffffff;
}
#competition{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/evic-2018-usach.appspot.com/o/concurso.jpg?alt=media&token=f457c32b-453e-4719-a675-af8aee155a17');
    background-size: cover;
}
#competition section{
    background-color: rgba(0, 0, 0, 0.8);
}
#index{
    background-color: rgba(0, 0, 0, 0.3);
}
#ubication{
    background-image: url('https://static1.squarespace.com/static/574472fbd51cd42eed21b47e/t/58f8d5a237c58152adaf3830/1492702628971/EAO-Fudea-Usach-Banner-%281%29.jpg?format=2500w');    
    background-size: cover;
}
#ubication section{
    background-color: rgba(0, 0, 0, 0.8);
}


